<h1 class="title">{{ title }}</h1>

<div class="container">
  @for (dot of dots; track $index) {
    <div #dotRef class="dot" (mouseenter)="addColor(dotRef)"></div>
  }
</div>

<div class="result">
  @if(!gameStarted) {
    <h1>Enter the board to start the game</h1>
  }

  @if (gameStarted && !gameEnded) {
    <h1>{{ counter }} second remaining</h1>
  } @else if (gameStarted && gameEnded) {
    @if(cleanDots == 0) {
      <span> Congratulations! you won. </span>
    } @else if (cleanDots != 0) {
      <span>Oops! You missed by {{ cleanDots }} circle</span>
    }
  }
</div>