.title {
    margin-top: 20px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    height: 524px;
    width: 684px;
    margin: 20px auto 0;
    padding: 20px;
    border: 2px solid purple;
}

.dot {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    float: left;
}

.result {
    text-align: center;
    margin-top: 20px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

.purple {
    background-color: purple;
}

.yellow {
    background-color: yellow;
}

.aqua {
    background-color: aqua;
}

.pink {
    background-color: pink;
}

.brown {
    background-color: brown;
}

.sienna {
    background-color: sienna;
}

.teal {
    background-color: teal;
}